body{
	font-family: Arial, sans-serif;
}
header{
	text-align: right;
	}

main{
	display: flex;
	height: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20vh; 
	line-height: 3rem;
}
a{
	text-decoration: none;
	color: rgba(0,0,0,.7);
	margin: 0 8px;
	}
a:hover{
	text-decoration: underline;
}
header nav{
	display: flex;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	justify-content: flex-end;
	font-size: 13px;
}
button{
	padding: 0.68rem 1.1rem;
	margin: 0 0.8rem;
	outline: none;
	border: none;
	border-radius: 4px;
	background-color: #f2f2f2;
	
}
button:hover{
	color: black;
	box-shadow: 0 0 0 1px #c6c6c6;
}
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 14px;
	height: 3rem;
	width: 100%;
	background: #f2f2f2;
	
}

#logo{
	display: block;
	margin: auto;
	height: 92px;
	width: 272px;
	}
#signin{
	background-color: #4285f4;
	border-radius: 3px;
	padding: 0.4rem 0.8rem;
	color: white;
	font-weight: bold;
	margin-left: -0.8rem;
	margin-right: -0.8rem;
}
#signin:hover{
	text-decoration: none;
}
#apps{
	width: 28px;
	height: 28px;
	margin-right: 0.9rem;
}
#searchbar{
	width: 500px;
	height: 45px;
	border-radius: 25px;
	border: 1px solid rgb(200,200,200);
}
#glass{
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 45px;
	margin: 1rem 1.5rem;
}
#mic{
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 45px;
	margin: 1rem 1.5rem;
}
.vcntr{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 3rem;
	justify-content: center;
	margin: 10px;
	
}
.search-bar{
	position: relative;
	display: flex;
	width: 500px;
	height: 40px;
	border-radius: 20px;
	justify-content: center;
	padding: 10px;

	
}
.buttons{
	display: flex;
	justify-content: center;
	margin: 2rem;
}
.footer-l{
	display: flex;
	position: fixed;
	left: 25px;
	bottom: 1rem;
	
}
.footer-r{
	display: flex;
	position: fixed;
	right: 25px;
	bottom: 1rem;
}
.footer-wtf{
	padding: 1rem 25px;
	margin: 0 8px;
}
.region{
	position: relative;
	height: 3rem;
	width: 100%;
	top: -3rem;
	background: #f2f2f2;
	border-top: 1px solid rgb(228,228,228);
	border-bottom: 1px solid rgb(228,228,228);
	text-decoration: none;
	color: rgba(0,0,0,.75);
}

